<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Orçamentos!</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="author" href="humans.txt">
	
	<script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<h2>Testando bagaça</h2>
	<form action="" name="myForm" ng-controller="userCtrl" ng-submit="submit()">
		<fieldset>
			<label for="login">Login</label>
			<input type="text" name="login" id="login" ng-model="data.login" required>
			<label for="password">Senha</label>
			<input type="password" name="password" id="password" ng-model="data.password" required>
			<input type="submit" value="Logar" ng-disabled="myForm.$invalid" id="submit" >
		</fieldset>
		<div id="result">{{message}}</div>
	</form>
	



	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
	<script src="assets/js/login.js"></script>
</body>
</html>
