<h1>Lista de Tarefas Cadastradas</h1>
<form ng-submit="delete()">
	<input type="hidden" ng-model="action" value="{{action}}">
	<table>
		<thead>
			<tr>
				<th><input type="checkbox" name="check_all" id="check_all" ng-click="master = !master"></th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tarefa in tarefas">
				<td><input type="checkbox" name="item" value="{{tarefa.id}}" ng-model="tarefa.isChecked"></td>
				<td>{{tarefa.nome}}</td>
				<td><button value="{{tarefa.id}}" ng-click="open()" ng-model="tarefa.url">editar</button></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="Apagar">
</form>
<div id="editForm">
	<h1>Editar Formulário</h1>
	<form ng-submit="update()">
		<label for="Nome">Nome:</label>
		<input type="text" name="nome" ng-model="data.nome" value="{{data.nome}}">
		<label for="email">Email</label>
		<input type="email" name="email" ng-model="data.email" value="{{data.email}}">
	</form>
</div>