<h1>Lista de Profissionais Cadastrados</h1>
<form action="" ng-submit="deleteAll()">
	<table>
		<thead>
			<tr>
				<th><input type="checkbox" name="check_all" id="check_all" ng-change="getAll()" ng-model="data.itens"></th>
				<th>Nome</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="n in nomes.nomes">
				<td><input type="checkbox" name="item" value="{{n.id}}" ng-checked="data.itens" ng-click="unique()" ng-true-value="{{n.id}}"></td>
				<td>{{n.nome}}</td>
				<td><a href="#/profissional/edit/{{n.id}}">editar</a></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="Apagar">
</form>